/CRUD_Estudiante_2020_1-ejb/build/
/CRUD_Estudiante_2020_1-ejb/dist/
/CRUD_Estudiante_2020_1-ejb/nbproject/private/
/CRUD_Estudiante_2020_1-war/build/
/CRUD_Estudiante_2020_1-war/dist/
/CRUD_Estudiante_2020_1-war/nbproject/private/
/build/
/dist/
/nbproject/private/